@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

body {
  background-color: var(--color-stone-900);
  color: var(--color-stone-100);
}